.app-bg {
  background-color: #e9ecef;
}

body {
  font-family: 'Roboto Slab', serif;
}

.header {
  margin: 0;
  width: 100%;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.fake-link {cursor:pointer;}

.scroll-main-slider {
  font-size: 22px;
}

.loading {
  text-align: center;
  width: 400px;
  height:400px;
  font-size: 3em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 0, 0, 0.3);
}

.img-header-activities {
  width:100%;
  height: 660px;
  background-image: url("images/activities.jpg");
  background-size: cover;
  background-position: center;
}

.img-header-events {
  width:100%;
  height: 660px;
  background-image: url("images/events.jpg");
  background-size: cover;
  background-position: center;
}

.img-header-places {
  width:100%;
  height: 660px;
  background-image: url("images/places.jpg");
  background-size: cover;
  background-position: center;
}

.img-header-caption {
  color: #fff;
  position: relative;
  top: 342px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.indicator {
  font-size: 50px;
  visibility: hidden;
}

.navbar {
  font-size: 18px;
}

.sub-categories a{
  color: #000;
  font-size:22px;
}

.footer-text {
  color:#ffff;
}

.footer-text a:hover {
  color:#ffff;
}

.navbar-text {
  display: none;
}
